{% extends 'base.html' %}

{% block title %}Career Page | Football Academy{% endblock %}

{% block content %}
    <img src="/static/images/football-boy-player-players.jpg" alt="" id="home-background-image">

    <div class="display-flex">
        <img src="/static/images/HowtoCoachMobile.jpg" alt="" class="width-50" id="trainer-image">
        <div class="width-50 m-auto">
            <div id="trainer-facility">
                <h2>Facilities provided</h2>

                <li>HOSTEL</li>
                <li>CANTEEN for Proper Nutrition</li>
                <li>MEDICAL Academy Physio</li>
                <li>GYM</li>
                <li>SWIMMING</li>
                <li>CCTV Camera with Guard</li>
            </div>
        </div>
    </div>
{% endblock %}