{% extends 'base.html' %}

{% block title %}Home | Football Academy{% endblock %}

{% block content %}


<img src="/static/images/football-boy-player-players.jpg" alt="" id="home-background-image">

<div class="display-flex">
    <img src="static/images/boys-playing-football-football-practice-field_43157-913.avif" alt="" class="width-50">
    <div class="width-50 m-auto">
        <h3 class="section-text">Best Sports Academy in Pune</h3>
        <p class="section-text">
            Sports aid and benefit both children and adults in having a greater quality of life. Life Sports has been one of the best sports academies in Pune, Maharashtra for over a decade, committed to making India a sporting nation. We are adequately prepared to provide all of the tools necessary for sportsmanship. Our goal in Life Sports is to provide fantastic chances for living a healthy lifestyle. We provide a demanding environment in which athletes can further enhance their mental and physical abilities. 
            Badminton is one of the top recreational and professional sports in India.  It is the most popular game widely enjoyed by families, friends, and colleagues. Life Sports offers the best badminton court in Pune. Enjoy the thrill and magnificence of racquets at  Life Sports. Badminton is a terrific sport with huge benefits for players. Badminton, whether played singles or doubles, is a pleasant and entertaining sport to participate in to improve your physical, mental, and social well-being.
        </p>
    </div>
</div>

<div class="display-flex">
    <div class="width-50 m-auto">
        <p class="section-text">
            Life Sport also offers the top table tennis coaching in Pune. At Life Sports, there are specific programs for beginners to professionals from children to adults. We offer private and semi-private workouts and court rentals. We provide table tennis, badminton, and many other sports coaching under one roof.
            Gymnastics classes follow a progressive learning system that reinforces safety and achievement. Athletes will be led through a series of drills and exercises as they progress from beginner to advanced levels. Life Sports is well known for having great Gymnastics classes in Pune with a state-of-the-art facility and all of the latest equipment.
            Dance lays a solid foundation for future health and fitness as it is a physical activity that is simple, creative, and enjoyable.  It increases self-assurance, self-confidence, and personal expression. Dancing helps you work your heart, lungs, muscles, and joints. It puts your agility, muscular strength, and coordination to the test. Dancing also demands both cognitive and memory abilities enhancing your brain development. Keeping all this in mind, Life Sports provides the most efficient and enjoyable Dance classes in Pune. We also provide Zumba classes as well.
        </p>
    </div>
    <img src="static/images/soccer-training-equipment-on-green-artificial-turf-material-for-trainning-class-of-football-academy-football-training-ground-3d-rendering-free-photo.jpg" alt="" class="width-50">
</div>

<div id="footer"></div>

{% endblock %}