{% extends 'base.html' %}

{% block title %}Join Us{% endblock %}

{% block content %}

    <img src="/static/images/football-boy-player-players.jpg" alt="" id="home-background-image">

    <div class="display-flex">
        <img src="/static/images/Best-Football-Club-in-Pune-1.jpg" alt="" class="width-50">
        <div class="width-50 m-auto">
            <div class="section-text">
                <h3>Best Football Academy in Pune</h3>
                <p>
                    Are you a football fanatic with a wish to turn pro?! Well, all you have to do is enroll at the best Football Academy in Pune at The Life Sports.
                    Football has long been a popular game across the globe. The fervour surrounding it, especially during the Fifa World Cup season, is unlike anything you’ll ever experience. That same level of enthusiasm can also be found all over our very own India. Historically speaking, Football has often been counted among the top 3 popular sports in India, both in terms of player participation and TV viewership.
                    Suffice to say, there are many who’d strap up their soccer shoes for an exhilarating and exhausting game of Football in a country that otherwise worships at the altar of cricket. Satisfying this fanatical thirst for Football is what we at The Life Sports intend to do by offering the best Football Club in Pune.
                    Even if you aren’t a big fan of Football is something that we encourage everyone because of the plethora of physical and mental benefits you stand to reap from it.
                    Below is a small list of benefits associated with Football to show you just how much it can change your life for the better.
                </p>

                <h3>Benefits of Playing Football</h3>

                <div class="pad-list">
                    <li>Builds muscle strength</li>
                    <li>Improves Cardiovascular health</li>
                    <li>Makes you more physically flexible</li>
                    <li>Reduces body</li>
                    <li>Increases bone strength</li>
                    <li>Improves Coordination</li>
                    <li>Teaches teamwork and collaboration</li>
                    <li>Boosts confidence and self-esteem</li>
                    <li>Helps deal with anxiety</li>
                    <li>Improves cognitive brain functioning</li>
                </div>
            </div>
        </div>
    </div>

    <div class="display-flex">
        <div class="width-50 m-auto">
            <div class="section-text">
                <h3>Best Football Club in Pune</h3>
                <p>
                    Conveniently situated near Pashan-Sus road, The Life Sports is home to what many football fans in the city hail as the best football academy in Pune. We offer strategically conceived football coaching programs spearheaded by some of the most experienced professional coaches in the city.
                    We offer Football coaching programs that accommodate both amateur and accomplished players. That’s not all, we have dedicated football coaching sessions specifically catering to children as well, which is just another aspect of what makes us the best football club in Pune.
                    You can rest easy knowing that our professional coaches will use their insight and experience to properly guide you throughout your training sessions, thus gradually but surely turning you from an amateur to a more accomplished football player. Suffice to say, we provide level-wise coaching to both children and adults to avoid overwhelming our students and ensure they have a better grasp of the lessons and skills being thought.
                    Students are divided into batches based on their skill levels. We have separate batches for beginners, intermediate and advanced players. Our coaches first assess enrolling students based on their caliber, after which they are admitted in any one of the aforementioned batches.
                </p>
            </div>
        </div>
        <img src="/static/images/Football-Ground-in-Pune-1.jpg" alt="" class="width-50">
    </div>

    <div class="display-flex">
        <img src="/static/images/Pune-Football-Academy-1.jpg" alt="" class="width-50">
        <div class="width-50 m-auto">
            <div class="section-text">
                <h3>Below are a few reasons why The Life Sports is So Popular for Football Coaching</h3>

                <div class="pad-list">
                    <li>Well-Conceived Coaching Programs Catering to Amateur and Accomplished Players</li>
                    <li>Football Coaching offered for Children and Adults</li>
                    <li>Home to Experienced and Certified Coaches</li>
                    <li>Well-maintained football ground made of natural grass</li>
                    <li>In-house nutritionist to help with proper nutrition</li>
                </div>
                <p>
                    Football has come a long way since its introduction in India centuries ago. From qualifying for the 1950 FIFA World Cup in Brazil to winning the inaugural Nehru cup in 2007, the country has made many strides. That momentum is what we wish to continue by offering you the opportunity to train at the best football academy in Pune.
                    Football has only grown exponentially with foreign teams and many capitalists showing interest in the Indian football market. We have European teams partnering up with Indian clubs today to find and recruit untapped talent at the grassroots level. This is a good sign of how promising the future of India seems in Football.
                    The Life Sports wants to contribute to this growth by bringing the best football club in Pune to football enthusiasts who wish to become professional players.
                </p>
            </div>
        </div>
    </div>
{% endblock %}