{% extends 'base.html' %}

{% block title %}Lesson Plan | Football Acacdemy{% endblock %}

{% block content %}

    <img src="/static/images/football-boy-player-players.jpg" alt="" id="home-background-image">

    <div class="display-flex">
        <img src="/static/images/BFA_Curriculum_Web.jpg" alt="" class="width-50">
        <div class="width-50 m-auto">
            <div class="section-text">
                <p>
                    Brazilian Football Academy has created a four corner model of coaching. This was developed in order to aid coaches with their planning and delivery of grassroots coaching sessions and ensure comprehensive cover of all the facets required of a football player and team.
                </p>
            </div>
        </div>
    </div>

    <div class="display-flex">
        <div class="width-50 m-auto">
            <p>
                The football coaching process is a constant repeating circle of performance, observation, analysis, interpretation, planning and coaching .
            </p>
        </div>
        <img src="/static/images/coaching-cycle.png" alt="" class="width-50">
    </div>

    <div class="display-flex">
        <img src="/static/images/BFA_Curriculum_Web.jpg" alt="" class="width-50">
        <div class="width-50 m-auto">
            <div class="section-text">
                <p>
                    Throughout this process we are focused on a number of topics that encompass the complete player, these are not necessarily mastered in any set order and will be taught based upon the strengths and weaknesses observed of the player.

                    These are broken down into the Brazilian Football Academy web which over the course of the football season will be used to provide the player with an analysis of their performance, where their strengths are and where they can improve.
                </p>
            </div>
        </div>
    </div>
{% endblock %}