body{
    margin: 0px;
    padding: 0px;
}

#navbar{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

ul{
    display: flex;
    padding: 0px 5px;
}

a{
    display: block;
    padding: 10px;
    color: white;
}